@page "/"


<div class="p-5 mb-4 bg-body-tertiary rounded-3">
	<div class="container py-5">
		<h1 class="display-5 fw-bold text-success">NutriSanté</h1>
		<p class=" col-md-8 fs-6"> Bienvenue sur NutriSanté - votre espace dédié à la santé, la nutrition et au bien-être.</p>
		<a href="services" class="btn btn-success btn-lg">Voir nos services</a>
	</div>
</div>

<section class="container my-5">
    <h2 class="text-center mb-4 text-success">Nos engagements</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="bi bi-heart-pulse-fill fs-1 text-danger"></i>
            <h5>Santé & Bien-être</h5>
            <p>Des conseils adaptés à chaque profil pour une vie plus saine.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-nut-fill fs-1 text-warning"></i>
            <h5>Nutrition équilibrée</h5>
            <p>Des recettes saines et savoureuses à découvrir chaque jour.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-people-fill fs-1 text-primary"></i>
            <h5>Accompagnement humain</h5>
            <p>Nos experts vous guident pas à pas dans votre parcours santé.</p>
        </div>
    </div>
</section>
